body{font-family:Arial, sans-serif;max-width:1000px;margin:1rem auto;padding:1rem;background-color: rgb(220, 191, 247);}
header{display:flex;justify-content:space-between;align-items:center}
nav a{margin-right:0.6rem;color: black;}
button{padding:0.4rem 0.6rem;border-radius:6px;background-color: rgb(243, 213, 83);}
